@tailwind base;
@tailwind components;
@tailwind utilities;
@import "antd-message-react/dist/index.css";

body,
html {
  height: 100%;
}

.max-main {
  max-height: calc(100vh - 64px);
}

.overflow-overlay {
  overflow: overlay;
}

.ant-message-custom-content {
  display: flex;
  align-items: center;
}

.design_data {
  .tags_box:hover {
    .tags_item {
      display: flex !important;
    }
  }
  ._fff > .MuiTreeItem-content {
    background-color: #f8fafb;
  }

  ._ff8a48 > .MuiTreeItem-content {
    background-color: #ff8a48;
  }
}

.page_main {
  height: calc(100% - 2.5rem - 2.75rem);
}

.bg-transparent {
  .ant-select-selector {
    background-color: transparent !important;
  }
}
